body {
    margin: 0;
    /* cursor: none; */
    /* height: 50000px; */
    /* overflow: hidden; */
}

/* #container {
    display: flex;
} */

#canvas-container {
    /* overflow: hidden; */
    background-image: linear-gradient(#e6ffff, #2b8f8f);
    /* width: 1000px;
    height: 1000px; */
}

canvas {
    /* width: 1000px;
    height: 1000px; */
    position: absolute;
    margin: 0;
}
