body {
    margin: 0;
    height: 50000px;
    /* overflow: hidden; */
}

#container {
    /* display: flex; */
}

#canvas-container {
    /* overflow: hidden; */
    background-image: linear-gradient(#e6ffff, #2b8f8f);
    width: 12000px;
    height: 20000px;
}

canvas {
    width: 12000px;
    height: 12000px;
    margin: 0;
}
